<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="DiaryWPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <!-- https://www.connectionstrings.com/ z tej strony pobieram wzor connection stringa do db-->
  <connectionStrings>
<!--    <add name="AplicationDbContex" connectionString="Server=(local)\SQLEXPRESS;Database=Diary;Integrated Security=True;" providerName="System.Data.SqlClient" /> -->
  </connectionStrings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <userSettings>
    <DiaryWPF.Properties.Settings>
      <setting name="DbServerAdress" serializeAs="String">
        <value />
      </setting>
      <setting name="DbServerName" serializeAs="String">
        <value />
      </setting>
      <setting name="DbName" serializeAs="String">
        <value />
      </setting>
      <setting name="DbUserLogin" serializeAs="String">
        <value />
      </setting>
      <setting name="DbUserPassword" serializeAs="String">
        <value />
      </setting>
    </DiaryWPF.Properties.Settings>
  </userSettings>
</configuration>